@import "custom";
// @import "~bootstrap/scss/bootstrap";

h1 {
  background: gray;
  font-size: 10rem;
}

.admin-bar nav.navbar {
  top: 0;
}

.container{
  background: $pink;
}

.titel{
  font-size: 100rem;
  background: rosybrown;
}